<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>GUITARRAS ACÚSTICAS</title>
    <link rel="stylesheet" href="/css/tienda.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <h1>GUITARRAS ACÚSTICAS</h1>
        <div class="productos">
            <!-- Harley Benton GS-Travel-E Mahogany -->
            <div class="producto">
                <img src="/img/acustica1.jpg" alt="Harley Benton GS-Travel-E Mahogany - Guitarra Acústica">
                <h2>Harley Benton GS-Travel-E Mahogany</h2>
                <li>Mástil de Nato</li>
                <li>Cuerpo de Caoba seleccionada</li>
                <li>Diapasón: Purple Heart</li>
                <p>Precio: 159€</p>
            </div>
            <!-- Fender CD-60SCE Blk WN -->
            <div class="producto">
                <img src="/img/acustica2.jpg" alt="Fender CD-60SCE Blk WN - Guitarra Acústica">
                <h2>Fender CD-60SCE Blk WN</h2>
                <li>Tapa de Pícea maciza</li>
                <li>Aros y fondo de Caoba</li>
                <li>Diapasón de Nogal</li>
                <p>Precio: 259€</p>
            </div>
            <!-- Ovation Celebrity Tradition CS28P-KOAB -->
            <div class="producto">
                <img src="/img/acustica3.jpg" alt="Ovation Celebrity Tradition CS28P-KOAB - Guitarra Acústica">
                <h2>Ovation Celebrity Tradition CS28P-KOAB</h2>
                <li>Mástil de Nato</li>
                <li>Tapa de madera seleccionada</li>
                <li>Diapasón y puesnte de Ovangkol</li>
                <p>Precio: 479€</p>
            </div>
            <!-- Taylor GS Mini Mahogany -->
            <div class="producto">
                <img src="/img/acustica4.jpg" alt="Taylor GS Mini Mahogany - Guitarra Acústica">
                <h2>Taylor GS Mini Mahogany</h2>
                <li>Tapa: Caoba maciza</li>
                <li>Aros: Contrachapado de Sapeli</li>
                <li>Diapasón: Ébano</li>
                <p>Precio: 598€</p>
            </div>
        </div>

        <div class="contenedor-boton">
            <button onclick="history.back()">Volver</button>
        </div>
        
    </div>

</body>
</html>
