<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>BAJOS ELÉCTRICOS</title>
    <link rel="stylesheet" href="/css/tienda.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <h1>BAJOS ELCTRICOS</h1>
        <div class="productos">
            <!-- Squier Aff. Jazz Bass Burg. Mist -->
            <div class="producto">
                <img src="/img/bajo1.jpg" alt="Squier Aff. Jazz Bass Burg. Mist - Bajo">
                <h2>Squier Aff. Jazz Bass Burg. Mist</h2>
                <li>Cuerpo de Álamo</li>
                <li>Mástil de Arce</li>
                <li>Diapasón de Laurel</li>
                <p>Precio: 249€</p>
            </div>
            <!-- Marcus Miller V5 Alder-4 TS -->
            <div class="producto">
                <img src="/img/bajo2.jpg" alt="Marcus Miller V5 Alder-4 TS - Bajo">
                <h2>Marcus Miller V5 Alder-4 TS</h2>
                <li>Cuerpo: Aliso</li>
                <li>Mátil de una pieza: Arce tostado</li>
                <li>Diapasón: Arce tostado</li>
                <p>Precio: 444€</p>
            </div>
            <!-- ESP LTD AP-4 Black Metal -->
            <div class="producto">
                <img src="/img/bajo3.jpg" alt="ESP LTD AP-4 Black Metal - Bajo">
                <h2>ESP LTD AP-4 Black Metal</h2>
                <li>Cuerpo de Aliso</li>
                <li>Diapasón de Ébano Macassar</li>
                <li>Puente BABICZ FCH-4</li>
                <p>Precio: 949€</p>
            </div>
            <!-- Dingwall NG3 Nolly Sig.4 Fiesta Red -->
            <div class="producto">
                <img src="/img/bajo4.jpg" alt="Dingwall NG3 Nolly Sig.4 Fiesta Red - Bajo">
                <h2>Dingwall NG3 Nolly Sig.4 Fiesta Red</h2>
                <li>Cuerpo: Aliso</li>
                <li>Mástil atornillado: Arce</li>
                <li>Diapasón: Arce</li>
                <p>Precio: 2799€</p>
            </div>
        </div>

        <div class="contenedor-boton">
            <button onclick="history.back()">Volver</button>
        </div>
        
    </div>

</body>
</html>
