<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>GUITARRAS CLÁSICAS</title>
    <link rel="stylesheet" href="/css/tienda.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <h1>GUITARRAS CLÁSICAS Y ESPAÑOLAS</h1>
        <div class="productos">
            <!-- Alhambra 3C -->
            <div class="producto">
                <img src="/img/clasica1.png" alt="Alhambra 3C - Guitarra Clásica">
                <h2>Alhambra 3C</h2>
                <li>Guitarra Clásica</li>
                <li>Tapa de Cedro o Abeto Macizo</li>
                <li>Aros y fondo de Sapeli</li>
                <li>Diapasón: Palosanto</li>
                <p>Precio: 469€</p>
            </div>
            <!-- YAMAHA CGS102AII Guitarra Clásica 1/2 -->
            <div class="producto">
                <img src="/img/clasica2.jpg" alt="YAMAHA CGS102AII - Guitarra Clásica 1/2">
                <h2>YAMAHA CGS102AII</h2>
                <li>Tapa de pícea</li>
                <li>Aros y fondo de meranti</li>
                <li>Diapasón y puente de palisandro</li>
                <li>Mástil de meranti</li>
                <p>Precio: 139€</p>
            </div>
            <!-- Alhambra 3F-CW-E1 Guitarra Clasica -->
            <div class="producto">
                <img src="/img/clasica3.jpg" alt="Alhambra 3F-CW-E1 - Guitarra Clasica">
                <h2>Alhambra 3F-CW-E1</h2>
                <li>Guitarra de flamenco</li>
                <li>Tapa de Abeto Alemán Macizo</li>
                <li>Diapasón: Palosanto</li>
                <li>Con cutaway</li>
                <p>Precio: 749€</p>
            </div>
            <!-- Admira Luna Serie Estudio Guitarra Clásica -->
            <div class="producto">
                <img src="/img/clasica4.png" alt="Admira Luna Serie Estudio - Guitarra Clásica">
                <h2>Admira Luna Serie Estudio</h2>
                <li>Tapa: Pino Oregón</li>
                <li>Aros y Fondo: Sapeli seleccionado</li>
                <li>Diapasón y Puente: Kabukali</li>
                <li>Brazo: Caoba</li>
                <p>Precio: 159€</p>
            </div>
        </div>

        <div class="contenedor-boton">
            <button onclick="history.back()">⬅ Volver</button>
        </div>
        
    </div>

</body>
</html>
