<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>GUITARRAS ELÉCTRICAS</title>
    <link rel="stylesheet" href="/css/tienda.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <h1>GUITARRAS ELÉCTRICAS</h1>
        <div class="productos">
            <!-- Stratocaster -->
            <div class="producto">
                <img src="/img/electrica1.jpg" alt="Fender Standard Strat MN WPG CND - Guitarra Eléctrica">
                <h2>Fender Standard Strat MN WPG CND</h2>
                <li>Cuerpo: Álamo</li>
                <li>Mástil atornillado: Arce</li>
                <li>Diapasón: Laurel indio</li>
                <p>Precio: 609€</p>
            </div>
            <!-- Telecaster -->
            <div class="producto">
                <img src="/img/electrica2.jpg" alt="Fender Player II Tele MN BTB - Guitarra Eléctrica">
                <h2>Fender Player II Tele MN BTB</h2>
                <li>Cuerpo con cámaras: Fresno</li>
                <li>Mátil atornillado: Arce</li>
                <li>Diapasón: Arce</li>
                <p>Precio: 799€</p>
            </div>
            <!-- Les Paul -->
            <div class="producto">
                <img src="/img/electrica3.jpg" alt="Gibson Les Paul Standard 60s BB - Guitarra Eléctrica">
                <h2>Gibson Les Paul Standard 60s BB</h2>
                <li>Cuerpo de Caoba</li>
                <li>Tapa de Arce</li>
                <li>Binding en crema</li>
                <p>Precio: 2490€</p>
            </div>
            <!-- ES335 -->
            <div class="producto">
                <img src="/img/electrica4.jpg" alt="Epiphone ES-335 Cherry - Guitarra Eléctrica">
                <h2>Epiphone ES-335 Cherry</h2>
                <li>Tapa de Arce</li>
                <li>Mástil de Caoba</li>
                <li>Diapasón de laurel indio</li>
                <p>Precio: 574€</p>
            </div>
        </div>

        <div class="contenedor-boton">
            <button onclick="history.back()">⬅ Volver</button>
        </div>
        
    </div>

</body>
</html>
